<div class="container">
  <% if notice %>
    <div class="bg-success">
      <center><b><p id="notice"><%= notice %></p></b></center>
    </div>
  <% end %>

<% if session[:user_role_id] %>
  <br>
  <%= button_to 'Edit', edit_furniture_room_path(@furniture_room), method: :get, class: "btn" %><br><br>
<% end %>

<p>
  <%# if you want to see the image url %>
  <%#= @furniture_room.room_image(:medium) %>
  <td><%= image_tag @furniture_room.room_image(:medium) %></td>
</p>
<p>
  <strong>room type:</strong>
  <%= @furniture_room.room_type %>
</p>

</div>
