<div class="container">
  <% if session[:user_id]%>
    <h1>Customer Reviews</h1>
    <h5>Please leave us a review!</h5>
  <% elsif session[:user_role_id] %>
    <h1>Delete/edit review</h1>
    <h5>Directions: Delete/edit text and click submit to update review</h5>
  <% else %>
    <h1>Customer Reviews</h1>
<% end %>

<%= form_for(@user) do |f| %>
  <div class="field">
    <%= f.label :user_review, 'Review:' %><br>
    <%= f.text_field :user_review, class: 'form-control', style: "width: 80%;" %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", class: 'btn' %>
  </div>
<% end %>
</div>
