<div class="container">
<h2>My Furniture List</h2>
<table>
  <tr>
    <%= render(cart.line_items) %>
  </tr>
</table>

<%= button_to 'Empty Cart', cart, method: :delete,
  data: {confirm: 'Are you sure?' }, class: "btn" %>
</div>
