<div class="container">
  <% if notice %>
    <div class="bg-success">
      <center><b><p id="notice"><%= notice %></p></b></center>
    </div>
  <% end %>

<p>
  <strong>Role name:</strong>
  <%= @role.role_name %>
</p>

<% if session[:user_role_id] %>
<%= button_to 'Edit', edit_role_path(@role), method: :get, class: "btn", style: "margin-right: 20%;" %>
</div>
