<div class="container">
  <% if notice %>
    <div class="bg-success">
      <center><b><p id="notice"><%= notice %></p></b></center>
    </div>
  <% end %>

<p>
  <strong>wood type:</strong>
  <%= @furniture_wood.wood_type %>
</p>

<% if session[:user_role_id] %>
  <%= button_to 'Edit', edit_furniture_wood_path(@furniture_wood), method: :get, class: "btn" %>
<% end %>

</div>
