<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>wood type:</strong>
  <%= @furniture_wood.wood_type %>
</p>

<%= link_to 'Edit', edit_furniture_wood_path(@furniture_wood) %> |
<%= link_to 'Back', furniture_woods_path %>
</div>
