<% if notice %>
  <div class="bg-success">
    <center><b><p id="notice"><%= notice %></p></b></center>
  </div>
<% end %>

<p>
  <strong>Furniture style:</strong>
  <%= @furniture_style.furniture_style %>
</p>

<p>
  <strong>Furniture style image:</strong>
  <%= image_tag @furniture_style.furniture_style_image(:thumb) %>
</p>

<% if session[:user_role_id] %>
  <%= button_to 'Edit', edit_furniture_style_path(@furniture_style), method: :get, class: "btn" %>
<% end %>
