<div class="container">
  <% if notice %>
    <div class="bg-success">
      <center><b><p id="notice"><%= notice %></p></b></center>
    </div>
  <% end %>

<p>
  <strong>stain type:</strong>
  <%= @furniture_stain.stain_type %>
</p>
<% if session[:user_role_id] %>
  <%= link_to 'Edit', edit_furniture_stain_path(@furniture_stain) %>
<% end %>
</div>
