<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>stain type:</strong>
  <%= @furniture_stain.stain_type %>
</p>

<%= link_to 'Edit', edit_furniture_stain_path(@furniture_stain) %> |
<%= link_to 'Back', furniture_stains_path %>
</div>
