<div class="container">
<h1>Editing Furniture Item</h1>

<%= render 'form' %>

<% if session[:role_id] %>
  <%#= link_to 'Show', @product, class: 'btn' %>
  <%= link_to 'Cancel', products_path %>
<% end %>
</div>
